<%- include('partials/header.ejs') %>

  <body>
    <%- include('partials/navbar.ejs') %>

      <div class="container">
        <hr>
        <div class="d-flex justify-content-between">
          <h1 class=" d-flex align-self-center">Perguntas</h1>
          <a href="/perguntar" class="btn btn-primary d-flex align-self-center">Perguntar</a>
        </div>
        <hr>
        <% perguntas.forEach(pergunta=> { %>
          <div class="card mt-3">
            <div class="card-body">
              <h3>
                <%= pergunta.titulo %>
              </h3>

              <p>
                <%= pergunta.descricao %>
              </p>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary">Responder</button>
            </div>
          </div>

          <p>
          </p>
          <% }) %>
      </div>
  </body>
  <%- include('partials/footer.ejs') %>