<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <div class="d-flex justify-content-between align-items-center">
                <h2>Categorias</h2>
                <a href="/admin/categories/new" class="btn btn-success">Criar nova Categoria</a>
            </div>

            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td></td>ID</td>
                        <td>Título</td>
                        <td>Slug</td>
                        <td>Ações</td>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(category => { %>
                        <tr>
                            <th>
                                <%= category.id %>
                            </th>
                            <th>
                                <%= category.title %>
                            </th>
                            <th>
                                <%= category.slug %>
                            </th>
                            <th class="d-flex justify-content-around">
                                <form method="POST" class="p-2">
                                    <input type="hidden" name="id" value="<%=category.id %>">
                                    <button class="btn btn-warning ">Editar</button>
                                </form>

                                <form method="POST" class="p-2" action="/admin/categories/delete" onsubmit="confirmarExclusao(event, this)">
                                    <input type="hidden" name="id" value="<%=category.id %>">
                                    <button class="btn btn-danger ">Deletar</button>
                                </form>
                            </th>
                        </tr>
                        <% }) %>

                </tbody>
            </table>
        </div>

        <%- include('../../partials/footer.ejs') %>

            <script>
                function confirmarExclusao(event, form) {

                    event.preventDefault();
                    console.log("O form não foi enviado!");

                    const decision = confirm("Deseja realmente deletar esta categoria?");
                    if (decision) {
                        form.submit();
                    }
                }
            </script>